.container {
  unicode-bidi: isolate;
  @apply h-full gap-2 flex flex-col min-h-0 font-bold;
}

.home {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  @apply flex
    flex-col
    min-h-0
    bg-brand-100
    rounded-lg
    overflow-x-hidden;
}
.ul {
  @apply px-3
    py-2
    list-none;
}

.li {
  @apply px-3  py-1;
}

.link {
  border: 0;
  vertical-align: baseline;
  @apply p-0
  cursor-pointer
   m-0
   flex
   flex-row
   items-center
   gap-5
   h-10
   text-[#b3b3b3]
   hover:text-white;
}
.link2 {
  overflow-wrap: anywhere;
  border: 0;
  min-block-size: 40px;
  @apply relative py-1
  px-2
  flex
  justify-start
  cursor-pointer
  flex-shrink-0
  h-[40px]
  whitespace-nowrap
  items-center
  transition
  ease-in-out
  delay-150
  text-[#a7a7a7]
  hover:text-white duration-300;
}
.span {
  @apply flex me-3;
}
