.container {
  @apply h-full
    gap-2
    flex
    flex-col;
}

.home {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  @apply flex
    flex-col
    min-h-0
    bg-brand-100
    rounded-lg
    overflow-x-hidden;
}
.ul {
  @apply px-3
    py-2
    list-none
    text-white;
}

.li {
  @apply px-3  py-1;
}

.link {
  border: 0;
  vertical-align: baseline;
  @apply p-0
  cursor-pointer
   m-0
   flex
   flex-row
   items-center
   gap-5
   h-10;
}
.span {
  @apply font-semibold
  text-base;
}
